<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /frontend/

    # Permitir acesso a arquivos e diretórios reais
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirecionar para index.html
    RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
